<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Server=localhost\SQLEXPRESS;Database=MyDB;Trusted_Connection=True" />
    <add key="filePath" value="D:\Projects\PurchaseService\PurchaseService\temp\" />
    <add key="httpPath" value="http://localhost:51500/temp/" />
    <add key="serverIP" value="10.120.9.17" />
    <add key="serverPort" value="8088" />
  </appSettings>
</configuration>